.wrapper>main {
    width: 46rem;
    margin: 0 auto;
}

.formNewTask {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: -1.5rem;
    margin-bottom: 4rem;
}

.formNewTask input[type=text] {
    padding: 1rem;
    background: var(--gray-500);
    color: var(--gray-300);
    border-radius: 8px;
    border: 0;
    flex: 1
}

.formNewTask input[type=text]:focus {
    border: 1px solid var(--purple-dark);
}

.formNewTask button[type=submit] {
    font-size: 0.875rem;
    font-weight: bold;
    background: var(--blue-dark);
    color: var(--gray-100);

    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    padding: 1rem;
    border: 0;
    cursor: pointer;

    transition: backgrond-color 1s;
}

.formNewTask button[type=submit]:hover {
    background: var(--blue);
}

.taskList>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;

    margin-bottom: 1.5rem;
}

.createdSummary {
    font-weight: bold;
    color: var(--blue);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.doneSummary {
    font-weight: bold;
    color: var(--purple);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chip {
    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    font-size: 0.75rem;
    padding: 2px 0.5rem;
}

.emptyList {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--gary-300);
    padding: 4rem 1.5rem;
}

.emptyList img {
    margin-bottom: 1rem;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.listItem {
    background: var(--gray-500);
    border-radius: 8px;
    color: var(--gray-100);
    font-size: 0.875rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem;
}

.listItemText {
    flex: 1;
}


.listItemPrimaryAction {
    background: transparent;
    border: 0;
    color: var(--blue);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    
}

.listItemPrimaryAction:hover {
    color: var(--blue-dark)
}

.listItemPrimaryAction svg {
    width: 100%;
    height: 100%;
}

.listItemSecondaryAction {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemSecondaryAction:hover{
    background: var(--gray-400);
    color: var(--danger);
    border-radius: 4px;
}

.listItemChecked .listItemPrimaryAction {
    color: var(--purple-dark);
}

.listItemChecked .listItemPrimaryAction:hover {
    color: var(--purple);
}

.listItemChecked .listItemText {
    flex: 1;
    color: var(--gray-300);
    text-decoration: line-through;
}